:root {
    /*PRIMARY COLORS*/
    --pale_blue: hsl(225, 100%, 94%);
    --bright_blue: hsl(245, 75%, 52%);
    --white: white;
    
    /*NEUTRAL COLORS*/
    --very_pale_blue: hsl(225, 100%, 98%);
    --desaturated_blue: hsl(224, 23%, 55%);
    --dark_blue: hsl(223, 47%, 23%);

    /*FONT SIZE*/
    --sm: 14px;
    --sd: 16px;
    --xl: 18px;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--pale_blue);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    font-size: var(--sd);
}

.container {
    width: 450px;
    height: auto;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0px 20px 24px 4px #c8d4f5;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
}
.hero {
    margin: 0;
    width: 100%;
}

.summary {
    margin: 48px 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.summary h2, p {
    margin: 0;
}
.summary h2 {
    text-align: center;
    font-weight: 900;
    color: var(--dark_blue);
}
.summary p {
    text-align: center;
    color: var(--desaturated_blue);
}

.plan {
    width: 355px;
    height: 100px;
    margin: 0px 48px 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: var(--very_pale_blue);
    border-radius: 12px;
    padding: 12px 24px;
    box-sizing: border-box;
}
.plan img {
    border-radius: 50%;
}
.plan .term-price{
    margin: 0 24px;
}
.plan .term-price p:nth-child(1) {
    font-weight: 900;
    color: var(--dark_blue);
    margin-bottom: 4px;
}
.plan .term-price p:nth-child(2) {
    font-weight: lighter;
    color: var(--desaturated_blue);
}
.plan a {
    font-size: var(--sm);
    font-weight: 700;
    color: var(--bright_blue);
}
.plan a:hover {
    text-decoration: none;
    color: #766cf1;
}

.pay {
    width: 355px;
    height: 48px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 16px 16px 4px #e3e0fd;
    background-color: var(--bright_blue);
    color: var(--very_pale_blue);
    font-size: var(--sm);
    font-weight: 900;
    cursor: pointer;
}
.pay:hover {
    background-color: #766cf1;
}

.cancel {
    margin: 48px;
}
.cancel a {
    text-decoration: none;
    color: var(--desaturated_blue);
    font-size: var(--sd);
    font-weight: 900;
}
.cancel a:hover {
    color: var(--dark_blue);
}